body{
    background: url();
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000
}

li {
  float: left;
  border-right: 1px solid #000000;
}

li:last-child{
    float: right;
  }

li:nth-last-child(2) {
    float: right;
  }

li a {
  display: block;
  padding: 15px;
  background-color: #0066cc;
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
  cursor: pointer;
}


.jumbotron{
    width: 100%;
    background-color: #0066cc;
    color: white;
}

#cuerpo-panel {
  color:black;
  text-align: left;
  width: 100%;
}

#panel-logo{
  float: top right;
  width:400px;
  height:300px;
}

