body{
    background: url();
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0066cc;
}

li {
  float: left;
  border-right: 1px solid white;
}

li:nth-last-child(-n+2){
  float: right;
}
.jumbotron{
    width: 100%;
    background-color: #000099;
    color: white;
}

#perfil{
    text-align: center;
}


li a {
  display: block;
  padding: 15px;
  background-color: #0066cc;
  color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
    cursor: pointer;
  }

#cuerpo-panel {
  color:#0066cc;
  text-align: left;
  width: 40%;
}

#panel-logo{
  float: top right;
  width:400px;
  height:300px;
}

#titulo-formulario{
    margin-left: 600px;
}



table {
    width: 60%;
    border: 1px solid #000;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 th{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    background-color: #c2c2d6;
    color: black;
    padding: 15px;
 }

 td{
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    padding: 15px;
 }

 table a:hover {
    color: #0066cc;
    cursor: pointer;
  }



 