body{
    background: url();
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0066cc
}

li {
  float: left;
}

li:last-child{
    float: right;
  }

li:nth-last-child(2) {
    float: right;
  }

li a {
  display: block;
  padding: 15px;
  background-color: #0066cc;
  color: #FFFFFF;
}

a:hover {
  color: #FFFFFF;
  cursor: pointer;
}


.jumbotron{
    width: 100%;
    background-color: #0066cc;
    color: white;
}

#cuerpo-panel {
  color:black;
  text-align: left;
  width: 100%;
}

#panel-logo{
  float: top right;
  width:400px;
  height:300px;
}


*{box-sizing:border-box;}

form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:200px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="reset"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

form input[type="reset"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

